.btn {
  display: inline-block;
  color: #fff;
  background-color: $color-accent;
  border-radius: 6px;
  text-align: center;

  // .promo-info & {
  //   @media (max-width: $mobile-max) {
  //     display: none;
  //   }
  // }

  // .promo-visual & {
  //   display: none;

  //   @media (max-width: $mobile-max) {
  //     display: inline-block;
  //   }
  // }
}
