.btn-promo {
  @include btn;
  margin-top: 100px;
  padding-top: 20px;
  height: 104px;


  @media (max-width: $tablet-max) {
    margin-top: 100px;
    height: 104px;
  }

  @media (max-width: $mobile-max) {
    margin-top: 80px;
    padding-top: 20px;
    width: 278px;
    height: 73px;
    font-size: 24px;
    line-height: 33px;
  }
}

.btn-works {
  @include btn;
  margin-top: 120px;
  padding-top: 20px;
}

.btn-order {
  @include btn;


  @media (max-width: $tablet-max) {
    font-size: 28px;
    line-height: 34px;
  }

  @media (max-width: $mobile-max) {
    width: 278px;
    height: 73px;
    font-size: 24px;
    line-height: 33px;
  }
}
