.form {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.order-label {
  font-family: $font;
  font-size: 20px;
  line-height: 27px;
  text-align: left;
}

.form-field {
  flex-basis: 100%;
  margin-top: 90px;
  margin-bottom: 130px;
  // padding-left: $gap-half;
  padding-right: $gap-half;
  border: 1px solid #000;

  @media (max-width: $tablet-max) {
    flex-basis: 50%;
  }

  @media (max-width: $mobile-max) {

  }
}

.form-input {
  width: 100%;
  padding: 20px;
  font-family: $font;
  font-size: 20px;
  line-height: 47px;
  color: $color-dark;
  border-radius: 6px;
  border: none;
}

