.menu {

  @media (max-width: $mobile-max) {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    width: 100%;
    padding: 10px;
    background-color: $color-dark;
  }
  ul {
    display: flex;
    list-style: none;

    @media (max-width: $mobile-max) {
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
    }
  }

  li {
    margin: 0 35px;
  }

  a {
    font-family: $font;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
  }

  .menu-item {
    text-align: center;
    padding-right: 10px;
    width: 117px;
    height: 90px;
    background-color: $color-dark;
    padding-top: 33px;
  }

}

