.order {
  padding: 130px 0;
  background-color:rgba($color-dark, 0.1)
}

.order-inner {
  @include inner;
}

.order-title {
  @include section-title;
}

.order-text {
  margin-top: 40px;
  font-family: $font;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
}

