.promo {
  padding: 50px 0;
  background-color: lightsteelblue;
  background-image: url("../images/promo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.promo-inner {
  @include inner;

  @media (max-width: 1279px) {
    width: auto;
    max-width: 1024px;
  }
}

.promo-title {
  font-size: $h1-fz-desktop;
  font-weight: $h1-fw;

  @media (max-width: 1279px) {
    font-size: $h1-fz-tablet;
  }

  @media (max-width: 669px) {
    font-size: $h1-fz-mobile;
  }

  display: block;
  margin-top: 200px;
  font-family: $font;
  font-weight: 600;
  font-size: 72px;
  line-height: 98px;
  width: 1276px;
  height: 196px;
  text-align: center;
  color: white;
}

.btn-promo {
  @include btn;
}
