.promo {
  margin-top: 90px;
  background-color: $color-dark;
  background-image: url("../images/promo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  @media (max-width: $mobile-max) {
    margin-top: 70px;

  }
}

.promo-fade {
  padding-top: 200px;
  padding-bottom: 214px;
  background-color:rgba($color-dark, 0.3);
}

.promo-inner {
  @include inner;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.promo-title {
  font-family: $font;
  font-weight: 600;
  font-size: 72px;
  line-height: 98px;
  width: 1276px;
  height: 196px;
  text-align: center;
  color: white;

  @media (max-width: $tablet-max) {
    font-size: 54px;
    line-height: 74px;
  }

  @media (max-width: $mobile-max) {
    font-size: 32px;
    line-height: 44px;
  }
}


