.promo {
  background-color: lightsteelblue;
  background-image: url("../images/promo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.promo-inner {
  @include inner;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.promo-title {
  margin-top: 200px;
  font-family: $font;
  font-weight: 600;
  font-size: 72px;
  line-height: 98px;
  width: 1276px;
  height: 196px;
  text-align: center;
  color: white;

  @media (max-width: $tablet-max) {
    font-size: 54px;
    line-height: 74px;
  }

  @media (max-width: $mobile-max) {
    font-size: 32px;
    line-height: 44px;
  }
}

.btn-promo {
  @include btn;
  margin-top: 100px;
  margin-bottom: 214px;
  padding-top: 20px;
  height: 104px;
  font-size: 42px;
  line-height: 57px;
  text-align: center;


  @media (max-width: $mobile-max) {
    font-size: 24px;
    line-height: 33px;
  }
}

