.works-inner {
  @include inner;
}

.works-wrap {
  gap: 20px;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  overflow: hidden;

   @media (max-width: $mobile-max) {
    flex-flow: column nowrap;
   }
}

.works-title {
  @include section-title;
  margin-bottom: 97px;
}

.works-pic {
  object-fit: cover;

  @media (max-width: $tablet-max) {
    flex-basis: 49%;
  }

  // @media (max-width: $mobile-max) {
  //  display: block;
  // }
}

.btn-works {
  @include btn;
  margin-top: 120px;
  margin-bottom: 130px;
  padding-top: 20px;
  height: 104px;
}
