.works{
  padding-bottom: 130px;
}

.works-inner {
  @include inner;
}

.works-title {
  @include section-title;
  margin-bottom: 97px;

  @media (max-width: $tablet-max) {
    font-size: 54px;
    line-height: 74px;
  }

  @media (max-width: $mobile-max) {
    font-size: 32px;
    line-height: 44px;
  }
}


.works-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -10px;
  @media (max-width: $tablet-max) {
   flex-wrap: wrap;
   margin: 0;
  }

   @media (max-width: $mobile-max) {
    display: block;
    margin-top: 10px;
   }
}

.works-pic {
  padding: 0 10px;

  @media (max-width: $tablet-max) {
    flex-basis: 50%;
    padding: 10px 10px;
  }

  @media (max-width: $mobile-max) {
    margin: 0 auto;
  }
}

.works-card {
  position: relative;
  display: block;

  img {
    display: block;
    width: 100%;
  }
}

.card-text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px;
  width: 100%;
  font-family: $font;
  font-size: 24px;
  color: white ;
  text-align: center;
  background-color: rgba($color-dark, 0.4);
}



