.works-inner {
  @include inner;
}

.works-wrap {
  margin-right: -20px;
  margin-left: -20px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.works-title {
  @include section-title;
  margin-bottom: 97px;
}

.works-pic {
  flex-basis: 25%;

  @media (max-width: $tablet-max) {
   flex-basis: 50%;
  }

  @media (max-width: $mobile-max) {
   display: block;
  }
}

.btn-works {
  @include btn;
  margin-top: 120px;
  margin-bottom: 130px;
  padding-top: 20px;
  font-family: $font;
  font-weight: 400;
  font-size: 42px;
  line-height: 57px;
  height: 104px;
  text-align: center;
}
