.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 33%;
}

.form-input {
  font-family: $font;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 130px;
  padding: 30px 140px;
  width: 412px;
  height: 104px;
  border-radius: 6px;
}
