.works-inner {
  @include inner;

}

.works-wrap {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.works-title {
  @include section-title;
}

.works-pic {
  flex-basis: 25%;
}

.btn-works {
  @include btn;
}
