* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    &:before,
    &:after {
    box-sizing: border-box;
  }
}

body {
  margin-top: 16px;
  font-family: $font;
}

img {
  display: block;
  max-width: 100%;
}
